@import url("https://fonts.googleapis.com/css2?family=Akronim&family=Bellota:wght@300&family=Bigelow+Rules&family=MedievalSharp&family=Risque&display=swap");

:root {
  --primary-color: #4e4e4ed3;
  --secondary-color: #9c9c9cd0;
  --third-color: rgb(235, 235, 235);
  --color: #8860e6;
  --font-family: "Akronim", cursive;
  --font-family1: "Bellota", cursive;
  --font-family2: "Bigelow Rules", cursive;
  --font-family3: "MedievalSharp", cursive;
  --font-family4: "Risque", cursive;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  height: 100%;
  overflow-x: hidden;
}

@media screen and (min-width: 280px) and (max-width: 1080px) {
  body::-webkit-scrollbar {
    display: none;
  }
}
body {
  overflow-x: hidden;
}
body,
button {
  font-family: var(--font-family3);
}
::-webkit-scrollbar {
  background: var(--primary-color);
  width: 0.3rem;
}
::-webkit-scrollbar-thumb {
  background: var(--secondary-color);
}

/* font-family: 'Akronim', cursive;
font-family: 'Bellota', cursive;
font-family: 'Bigelow Rules', cursive;
font-family: 'MedievalSharp', cursive;
font-family: 'Risque', cursive; */
